#addButton {
  float: right;
  margin-top: 15px;
}

#periodOd {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}

#periodDo {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}

#mlekara {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}
